<div class="page page-form-wizard clearfix">

 <ol class="breadcrumb breadcrumb-small">
  <li>Administraci&oacute;n</li>
  <li>Evaluaciones</li>
  <li>Nueva evaluaci&oacute;n</li>
 </ol>

 <div class="page-wrap">
  <div class="row">
   <div class="col-lg-12">

    <div class="panel panel-lined mb30">
     <div class="panel-body">

      <form role="form" name="editTestForm" ng-controller="EditTest" ng-init="init()" ng-submit="save(editTestForm.$valid)" novalidate>

       <ul class="list-unstyled wizard-tabs mb30">
        <li ng-class="{active: steps[0]}">
         <span class="text">Informaci&oacute;n general</span>
         <i class="fa fa-long-arrow-right"></i>
        </li>
        <li ng-class="{active: steps[1]}">
         <span class="text">Configuraci&oacute;n</span>
        </li>
       </ul>
       <hr class="dashed mb30"/>

       <!-- Paso 1: Informacion general -->
       <div class="form-horizontal col-lg-12" name="test-step-1" ng-show="steps[0]">
        <div class="form-horizontal col-lg-6">
         <div class="form-group" ng-class="{'has-error' : editTestForm.name.$invalid && !editTestForm.name.$pristine}">
          <label class="text-uppercase small text-bold">Descripci&oacute;n:</label>
          <input type="text" name="name" class="form-control" ng-model="test.name" required>
          <p ng-show="editTestForm.name.$invalid && !editTestForm.name.$pristine" class="help-block">El nombre es requerido.</p>
         </div>
         <div class="form-group" ng-class="{'has-error' : editTestForm.type.$invalid && !editTestForm.type.$pristine}">
          <label class="text-uppercase small text-bold">Tipo de evaluaci&oacute;n:</label>
          <select name="skillType" 
            class="form-control" 
            ng-model="test.type" 
            ng-options="type._id as type.name for type in types" required>
           <option value="">Selecciona un tipo de evaluaci&oacute;n</option>
          </select>
          <p ng-show="editTestForm.type.$invalid && !editTestForm.type.$pristine" class="help-block">El tipo es requerido.</p>
         </div>
         <div class="form-group" ng-class="{'has-error' : editTestForm.isActive.$invalid && !editTestForm.isActive.$pristine}">
          <label class="text-uppercase small text-bold">Estado:</label>
          <select name="isActive" class="form-control" ng-model="test.isActive">
           <option value="">Selecciona un estado de evaluaci&oacute;n</option>
           <option value="false">Borrador</option> 
           <option value="true">Publicado</option> 
          </select>
          <p ng-show="editTestForm.isActive.$invalid && !editTestForm.isActive.$pristine" class="help-block">El estado es requerido.</p>
         </div>
        </div>

        <!-- filtros de busqueda -->
        <!--
        <div class="form-horizontal col-lg-12">
         <div class="form-group">
          <div class="panel panel-lined table-responsive mb30">
           <div class="panel-heading"><i>Filtros de b&uacute;squeda de preguntas</i></div>
           <table class="table table-bordered table-striped">
            <thead>
             <tr>
             <td>
              <label class="text-uppercase small text-bold">Tipo</label>
              <select name="skill" class="form-control">
               <option value="">Selecciona una opci&oacute;n</option> 
              </select>
             </td>
             <td>
              <label class="text-uppercase small text-bold">Competencia</label>
              <select name="skill" class="form-control">
               <option value="">Selecciona una opci&oacute;n</option> 
              </select>
             </td>
            </tr>
           </thead>
          </table>
          </div>
         </div>
        </div>

        -->

        <div class="form-horizontal col-lg-12">
        <div class="form-group">
         <div class="panel panel-lined table-responsive mb30">
          <div class="panel-heading"><i>Preguntas disponibles</i></div>
          <table class="table table-bordered table-striped">
           <thead>
            <tr>
             <th style="width: 4%;"></th>
             <th>Nombre</th>
            </tr>
           </thead>
           <tbody ng-model="availableQuestions">
            <tr ng-repeat="(i, availableQuestion) in availableQuestions track by $index">
             <td>
              <div class="ui-checkbox ui-checkbox-default">
               <label class="ui-checkbox-inline">
                <input type="checkbox" ng-model="availableQuestions[i].selected">
                <span></span>
               </label>
              </div>
             </td>
             <td>
              {{availableQuestion.description}}
             </td>
            </tr>
           </tbody>
          </table>
         </div>
        </div>

        <div class="form-group clearfix right">
         <button type="button" class="btn btn-default right" ng-click="toConfiguration(1)" ng-disabled="newTestForm.name.$invalid">Siguiente</button>
        </div>

        </div>
       </div>

       <!-- Paso 2: Configuracion -->
       <div class="form-horizontal col-lg-12" name="test-step-2" ng-show="steps[1]">
        <div class="form-group">
         <div class="panel panel-lined table-responsive mb30">
          <div class="panel-heading"><i>Preguntas seleccionadas</i></div>
          <table class="table table-bordered table-striped">
           <thead>
            <tr>
             <th>Nombre</th>
             <th>Ver opciones</th>
            </tr>
           </thead>
           <tbody ui-sortable ng-model="selectedQuestions">
            <tr ng-repeat="selectedQuestion in selectedQuestions track by $index" style="cursor: move;">
             <td>
              {{selectedQuestion.description}}
             </td>
             <td>
              <a href ng-click="showQuestionDetail($index)">Ver detalle</a>
             </td>
            </tr>
           </tbody>
          </table>
         </div>

         <div class="form-group clearfix right">
          <button type="button" class="btn btn-default mr5" ng-click="stepNext(0)">Anterior</button>
          <button type="button" class="btn btn-default" ng-click="preview()">Previsualizar</button>
          <button type="submit" class="btn btn-default" aria-hidden="true" ng-disabled="editTestForm.name.$invalid">Editar</button>
         </div>
        </div>
       </div>

       <!-- Paso 3: Previsualizacion -->
       <modal title="Previsualizaci&oacute;n" size="modal-lg" visible="showPreview" data-backdrop="static">
        <div class="form-group" ng-controller="PreviewTest">
         <div class="col-lg-12" ng-repeat="question in currentPageStores">
          <div class="panel-body">
           <h2>
            {{question.description}}
           </h2>
          </div>
          <div class="panel panel-lined table-responsive mb30 " ng-controller="PreviewTest">
           <table class="table">
            <tbody >
             <tr ng-repeat="(i, answer) in question.answers">
              <td style="width: 5%;">
               <div ng-if="question.isMultipleChoice">
                <div class="ui-checkbox ui-checkbox-default">
                 <label class="ui-checkbox-inline">
                  <input type="checkbox" name="isCorrect">
                  <span></span>
                 </label>
                </div>
               </div>
               <div ng-if="!question.isMultipleChoice">
                <div class="ui-radio ui-radio-info">
                 <label class="ui-radio-inline">
                  <input type="radio" name="isCorrect">
                  <span></span>
                 </label>
                </div>
               </div>
              </td>
              <td>
               {{question.answers[i].description}}
              </td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
         <div class="panel-footer clearfix">
          <pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right" 
               max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
               previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
          </pagination>
         </div>
        </div>
       </modal>

       <!-- Detalle de la pregunta -->
       <modal title="Detalle de pregunta" visible="showDetail" data-backdrop="static">
        <div class="form-group">
         <div class="panel panel-lined table-responsive mb30">
          <div class="panel-heading"><i>Respuestas disponibles</i></div>
          <table class="table table-bordered table-striped">
           <thead>
            <tr>
             <th></th>
            </tr>
           </thead>
           <tbody>
            <tr ng-repeat="answer in selectedQuestion.answers">
             <td>
              {{answer.description}}
             </td>
            </tr>
           </tbody>
          </table>
         </div>
         <div class="form-group">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button> 
         </div>
        </div>
       </modal>

      </form>

     </div>
    </div>

   </div>
  </div>
 </div>
</div>