<div class="page page-table-static clearfix">
 <ol class="breadcrumb breadcrumb-small">
  <li>L&iacute;neas de Carrera</li>
  <li class="active">
   <a href="#/admin/skills">Competencias</a>
  </li>
 </ol>

 <div class="page-wrap">
  <div class="row">
   <div class="col-lg-6">
	<div class="panel panel-lined mb30" ng-controller="EditSkill">
	 <div class="panel-heading">
	  <i>Edici&oacute;n</i>
	 </div>
	 <div class="panel-body">
	  <form role="form" name="editSkillForm" ng-submit="save(editSkillForm.$valid)" novalidate>
	  <input type="hidden" name="id" class="form-control" ng-model="skill._id"/>
	   <div class="form-group" ng-class="{'has-error' : editSkillForm.name.$invalid && !editSkillForm.name.$pristine}">
		<label class="text-uppercase small text-bold">Nombre:</label>
		<input type="text" name="name" class="form-control" ng-model="skill.name" required>
		<p ng-show="editSkillForm.name.$invalid && !editSkillForm.name.$pristine" class="help-block">El nombre es requerido.</p>
	   </div>
	   <div class="form-group" ng-class="{'has-error' : editSkillForm.description.$invalid && !editSkillForm.description.$pristine}">
		<label class="text-uppercase small text-bold">Descripci&oacute;n:</label>
		<input type="text" name="description" class="form-control" ng-model="skill.description" required>
		<p ng-show="editSkillForm.description.$invalid && !editSkillForm.description.$pristine" class="help-block">La descripci&oacute;n es requerida.</p>
	   </div>
	   <div class="form-group" ng-class="{'has-error' : editSkillForm.type.$invalid && !editSkillForm.type.$pristine}">
		<label class="text-uppercase small text-bold">Tipo:</label>
		<select name="type"
			class="form-control" 
			ng-model="skill.type"
			ng-options="skillType._id as skillType.name for skillType in skillTypes" 
			required>
		 <option value="">Selecciona un tipo</option> 
		</select>
		<p ng-show="editSkillForm.type.$invalid && !editSkillForm.type.$pristine" class="help-block">El tipo es requerido.</p>
	   </div>
	   <div class="form-group">
		<button type="submit" class="btn btn-default" ng-disabled="editSkillForm.$invalid">Editar</button> 
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button> 
	   </div>
	  </form>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>