<div class="page page-table-static clearfix">

 <ol class="breadcrumb breadcrumb-small">
  <li>Administraci&oacute;n</li>
  <li class="active">
   <a href="#/admin/manageSkills">Competencias</a>
  </li>
 </ol>

 <div class="page-wrap">
  <div class="row">
   <!-- Administracion de niveles de competencia -->
   <div class="col-lg-12" ng-include=" 'views/admin/skillLevels.html' "></div>
  </div>
  <div class="row">
   <!-- Administracion de competencias -->
   <div class="col-lg-12" ng-include=" 'views/admin/skills.html' "></div>
  </div>
  <div class="row">
   <!-- Administracion de tipos de competencia -->
   <div class="col-lg-12" ng-include=" 'views/admin/skillTypes.html' "></div>
  </div>
 </div>
</div>