<div class="page page-table-static clearfix">

 <ol class="breadcrumb breadcrumb-small">
  <li>L&iacute;neas de Carrera</li>
  <li class="active">
   <a href="#/admin/skillTypes">Tipos de competencia</a>
  </li>
 </ol>

 <div class="page-wrap">
  <div class="row">
   <div class="col-lg-6">
	<div class="panel panel-lined mb30" ng-controller="NewSkillType">
	 <div class="panel-heading"><i>Registro</i></div>
	 <div class="panel-body">
	  <form role="form" name="newSkillTypeForm" ng-submit="save(newSkillTypeForm.$valid)" novalidate>
	   <div class="form-group" ng-class="{'has-error' : newSkillTypeForm.name.$invalid && !newSkillTypeForm.name.$pristine}">
		<label class="text-uppercase small text-bold">Nombre:</label>
		<input type="text" name="name" class="form-control" ng-model="skillType.name" required/>
		<p ng-show="newSkillTypeForm.name.$invalid && !newSkillTypeForm.name.$pristine" class="help-block">El nombre es requerido.</p>
	   </div>
	   <div class="form-group" ng-class="{'has-error' : newSkillTypeForm.description.$invalid && !newSkillTypeForm.description.$pristine}">
		<label class="text-uppercase small text-bold">Descripci&oacute;n:</label>
		<input type="text" name="description" class="form-control" ng-model="skillType.description" required/>
		<p ng-show="newSkillTypeForm.description.$invalid && !newSkillTypeForm.description.$pristine" class="help-block">La descripci&oacute;n es requerida.</p>
	   </div>
	   <div class="form-group">
		<button type="submit" class="btn btn-default" ng-disabled="newSkillTypeForm.$invalid">Registrar</button> 
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button> 
	   </div>
	  </form>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>