<div class="nav-head">
 <!-- Site logo -->
 <a href="#/admin/manageSkills" class="site-logo"><span>CSTI</span>&nbsp; | Chain Services</a>
 <span class="nav-trigger fa" ng-class="{'fa-navicon': isMobile, 'fa-outdent': !isMobile}" toggle-nav-min toggle-off-canvas 
 	   ng-click="toggleHorizontalNav()">
 </span>
</div>

<div class="head-wrap clearfix">
 <!-- navbar right -->
 <ul class="list-unstyled navbar-right">
  <!-- profile drop -->
  <li class="dropdown" dropdown>
   <a href class="user-profile dropdown-toggle" dropdown-toggle>
	<img src="images/admin.jpg" alt="admin-pic">
   </a>
   <!-- Profile drop -->
   <div class="panel panel-default dropdown-menu">
	<div class="panel-body">
	 <figure class="photo left">
	  <img src="images/admin.jpg" alt="admin-pic">
	  <a href="j:;">Photo</a>
	 </figure>
	 <div class="profile-info right">
	  <p class="user-name">Bryan R.</p>
	  <p>bryan.r@gmail.com</p>
	  <a href="j:;" class="btn btn-info btn-xs">Mi Perfil</a>
	 </div>
	</div>
	<div class="panel-footer clearfix">
	 <a href="/login" class="btn btn-info btn-sm right">Cerrar sesi&oacute;n</a>
	</div>
   </div>
  </li>
  <!-- #end profile-drop -->
 </ul>
</div>